[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ansible-core = "*"
ansible-lint = "*"
molecule = "*"
molecule-plugins = {version = "*", extras = ["docker"]}

[requires]
python_version = "3.10"
